{% load static %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index'%}"><img id="logo"
                src="{% static 'img/icono1.png' %}" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'productos'%}">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'categoria'%}">Categoria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'carro'%}">Carrito <span id="numerito"
                            class="numerito">0</span></a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav me-auto mb-5 mb-lg-1">
            <li class="nav-item dropdown mx-5"> 
                <a class="nav-item dropdown-toggle text-black" href="#"
                id="profileDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">Perfil</a>
                <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                    <li><a class="dropdown-item" href="{% url 'profile' %}">Perfil</a></li>
                    <li><a class="dropdown-item" href="#">Ordenes</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesion</a></li>
                </ul>
            <li class="nav-item">
                <a href="{% url 'login'%}" class="nav-link">Inicio sesion</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'customerrestration'%}" class="nav-link">Registrarse</a>
            </li>
            </li>
        </ul>
    </div>
</nav>
