<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    {% load static %}
    <link rel="icon" type="img/jpg" href="{% static 'img/icono1.png'%}">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    {% include 'base/navbar.html' %}

    <main id="main">
        <h2 class="titulo-principal" id="titulo-principal">Todos los productos</h2>
        <div id="contenedor-productos" class="contenedor-productos">
            <!-- Esto se va a rellenar con JS -->
        </div>
    </main>

    {% include 'base/footer.html' %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
</body>
</html>