<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    {% load static %}
    <link rel="icon" type="img/jpg" href="{% static 'img/icono1.png'%}">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    {% include 'base/navbar.html' %}

    <main>
        <div class="container">
            <form action="/" id="form" method="POST">
                
                {% csrf_token %}
                
                <h1>Registrarme</h1>

                <div class="input-control">
                    <input id="username" name="username" type="text" placeholder="Nombre" autocomplete="off">
                    <div class="error"></div>
                </div>

                <div class="input-control">
                    <input id="username2" name="username2" type="text" placeholder="Apellido" autocomplete="off">
                    <div class="error"></div>
                </div>

                <div class="input-control">
                    <input id="email" name="email" type="text" placeholder="Email" autocomplete="off">
                    <div class="error"></div>
                </div>

                <div class="input-control">
                    <input id="password" name="password" placeholder="Contraseña" autocomplete="off">
                    <div class="error"></div>
                </div>

                <div>
                    <input type="checkbox" value="info" id="info">
                    <label for="info">
                        <p>Acepta <a href="{% url 'termino_y_condiciones'%}">terminos y condiciones</a></p>
                    </label>
                </div>

                <button type="submit">registrarse</button>
                
            </form>
        </div>
    </main>

    {% include 'base/footer.html' %}
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "js/funciones formulario.js" %}"></script>

</body>
</html>