<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termino y dcondiciones</title>
    {% load static %}
    <link rel="icon" type="img/jpg" href="{% static 'img/icono1.png'%}">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    {% include 'base/navbar.html' %}

    <main>
        <div id="terminos">
            <h1 class="condiciones">Terminos y condiciones</h1>


            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Soluta optio magnam, quis nam perspiciatis aliquam accusamus
                ad consectetur. Incidunt dolores architecto maxime et consectetur
                ullam esse aliquid ducimus necessitatibus ea dolorem inventore nisi
                accusantium quibusdam nesciunt, rem repellendus molestiae reprehenderit
                iusto adipisci. Quod odio consequuntur, officiis in placeat dignissimos ullam.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Soluta optio magnam, quis nam perspiciatis aliquam accusamus
                ad consectetur. Incidunt dolores architecto maxime et consectetur
                ullam esse aliquid ducimus necessitatibus ea dolorem inventore nisi
                accusantium quibusdam nesciunt, rem repellendus molestiae reprehenderit
                iusto adipisci. Quod odio consequuntur, officiis in placeat dignissimos ullam.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Soluta optio magnam, quis nam perspiciatis aliquam accusamus
                ad consectetur. Incidunt dolores architecto maxime et consectetur
                ullam esse aliquid ducimus necessitatibus ea dolorem inventore nisi
                accusantium quibusdam nesciunt, rem repellendus molestiae reprehenderit
                iusto adipisci. Quod odio consequuntur, officiis in placeat dignissimos ullam.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Soluta optio magnam, quis nam perspiciatis aliquam accusamus
                ad consectetur. Incidunt dolores architecto maxime et consectetur
                ullam esse aliquid ducimus necessitatibus ea dolorem inventore nisi
                accusantium quibusdam nesciunt, rem repellendus molestiae reprehenderit
                iusto adipisci. Quod odio consequuntur, officiis in placeat dignissimos ullam.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Soluta optio magnam, quis nam perspiciatis aliquam accusamus
                ad consectetur. Incidunt dolores architecto maxime et consectetur
                ullam esse aliquid ducimus necessitatibus ea dolorem inventore nisi
                accusantium quibusdam nesciunt, rem repellendus molestiae reprehenderit
                iusto adipisci. Quod odio consequuntur, officiis in placeat dignissimos ullam.
            </p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Soluta optio magnam, quis nam perspiciatis aliquam accusamus
                ad consectetur. Incidunt dolores architecto maxime et consectetur
                ullam esse aliquid ducimus necessitatibus ea dolorem inventore nisi
                accusantium quibusdam nesciunt, rem repellendus molestiae reprehenderit
                iusto adipisci. Quod odio consequuntur, officiis in placeat dignissimos ullam.
            </p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Soluta optio magnam, quis nam perspiciatis aliquam accusamus
                ad consectetur. Incidunt dolores architecto maxime et consectetur
                ullam esse aliquid ducimus necessitatibus ea dolorem inventore nisi
                accusantium quibusdam nesciunt, rem repellendus molestiae reprehenderit
                iusto adipisci. Quod odio consequuntur, officiis in placeat dignissimos ullam.
            </p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Soluta optio magnam, quis nam perspiciatis aliquam accusamus
                ad consectetur. Incidunt dolores architecto maxime et consectetur
                ullam esse aliquid ducimus necessitatibus ea dolorem inventore nisi
                accusantium quibusdam nesciunt, rem repellendus molestiae reprehenderit
                iusto adipisci. Quod odio consequuntur, officiis in placeat dignissimos ullam.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Soluta optio magnam, quis nam perspiciatis aliquam accusamus
                ad consectetur. Incidunt dolores architecto maxime et consectetur
                ullam esse aliquid ducimus necessitatibus ea dolorem inventore nisi
                accusantium quibusdam nesciunt, rem repellendus molestiae reprehenderit
                iusto adipisci. Quod odio consequuntur, officiis in placeat dignissimos ullam.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Soluta optio magnam, quis nam perspiciatis aliquam accusamus
                ad consectetur. Incidunt dolores architecto maxime et consectetur
                ullam esse aliquid ducimus necessitatibus ea dolorem inventore nisi
                accusantium quibusdam nesciunt, rem repellendus molestiae reprehenderit
                iusto adipisci. Quod odio consequuntur, officiis in placeat dignissimos ullam.
            </p>

        </div>


    </main>

    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
</body>
</html>